{% extends 'layout.twig' %}

{% block body %}
	<h1>{{title}}</h1>
	<p>Saisissez les informations de partie</p>
	<!-- Radio button permettant le choix entre partie classic et partie turbo -->
	<div class="mb-3">
		<label class="form-label">Type de partie :</label>
		<div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="gameType" id="classicGame" value="classic">
				<label class="form-check-label" for="classicGame">Classique</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="gameType" id="turboGame" value="turbo" checked>
				<label class="form-check-label" for="turboGame">Turbo</label>
			</div>
		</div>
	</div>
	<hr>
	<p>Ajouter un joueur :
		<input type="text" id="newPlayerName" placeholder="Nom du joueur">
		<button class="btn btn-primary" id="addPlayerBtn">Ajouter</button>
	</p>
	<ul id="playerList" class="list-group mb-3"></ul>
	<button class="btn btn-success" id="newGameBtn">Nouvelle Partie</button>
	<script>
		window.joueurs = {{ joueurs|json_encode|raw }};
	</script>
	<script type="module" src="/javascripts/menu/main.js"></script>
{% endblock %}
